@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root {
  --azure: #0290ff;
  --blue: #4386bf;
  --bg: #f5f6fa;
  --white: #e8e8e8;
  --black: #121212;
}

body {
  box-sizing: border-box;
  margin: 0;
}

nav {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  height: 6rem;
  padding-left: 100px;
  border-bottom: 1px solid var(--white);
}

.navbar-brand {
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.navbar-nav {
  list-style: none;
  display: flex;
  text-align: left;
  padding-right: 8px;
}

.nav-item {
  text-decoration: none;
  color: blue;
}

.nav-item:hover {
  color: darkblue;
}

.list {
  font-family: 'Roboto', sans-serif;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: var(--bg);
}

ul {
  list-style: none;
  position: relative;
  padding: 0;
  gap: 30px;
}

li {
  background-color: white;
}

.book {
  border-radius: 4px;
  border: 1px solid var(--white);
  margin: 30px 30px 30px 0;
}

.content {
  padding: 0 30px 30px 30px;
}

.category {
  margin: 20px 0 0 0;
}

.title {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  margin: 4px 0;
  color: var(--black);
}

.links {
  margin: 1rem 1rem 0.125rem 0;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--blue);
}

.links a {
  text-decoration: none;
}

.active {
  font-weight: bold;
}

input {
  margin: 0 4px;
}

button {
  margin: auto 0;
}
